/* User List Area */

.user-card {
    display: flex;
    height: 80px;
}

.user-profile-img {
    flex-grow: 1;
    /* width: 60px; */
    height: 100%;
    padding-right: 15px;
}

.user-profile-img-container {
    width: 60px;
    height: 60px;
}

.user-profile-img img {
    width: 100%;
    height: 100%;
}

.user-content-alignment {
    display: flex;
    justify-content: space-between;
}

.user-content-main {
    flex-grow: 4;
    /* overflow: hidden; */
    /* position: relative; */
    /* text-overflow: ellipsis; */
    white-space: nowrap;
}

.user-content-support {
    flex-grow: 1;
    white-space: nowrap;
}

.user-username {
    font-weight: 600;
}

.user-timestamp {
    color: rgba(0, 0, 0, 0.4);
}

.user-last-message {
    color: rgba(0, 0, 0, 0.5);
}

/* Chat Area */

.chat-header {
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    height: 6.5%;
    width: 100%;
    position: absolute;
    top: 0;
}

#chatroom-area {
    height: 88.5%;
    position: absolute;
    top: 6.5%;
    width: 100%;
    overflow-y: scroll;
}

.chat-box {
    position: relative;
    margin: 5px;
    padding: 4px 8px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.chat-current-user .chat-box {
    border-top-right-radius: 0;
}
.chat-other-user .chat-box {
    border-top-left-radius: 0;
}
.chat-current-user .chat-box::after {
    position: absolute;
    content: "";
    background: transparent;
    right: -10px;
    top: 0;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-left-color: #dcf8c6;

}

.chat-other-user .chat-box::after {
    position: absolute;
    content: "";
    background: transparent;
    left: -10px;
    top: 0;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-right-color: #fff;
}

.chat-box p {
    margin: 0;
}

.chat-other-user {
    display: flex;
    justify-content: flex-start;
    padding: 0px 100px 0 50px;
}

.chat-other-user-box {
    background-color: #fff;
}

.chat-current-user {
    display: flex;
    justify-content: flex-end;
    padding: 0px 50px 0 100px;
}

.chat-current-user-box {
    background-color: #dcf8c6;
}
